.wrapper {
      margin: auto;
      width: 100%;
}

#photo {
      overflow: hidden;
      position: relative;
}

#photo img {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-font-smoothing: none;
      -webkit-font-smoothing: antialiased;
      -webkit-font-smoothing: subpixel-antialiased;
      width: 90%;
}

#stop img {
      width: 60%;
}

.press {
      width: 80px;
      position: fixed;
      top: 30px;
      right: 50px;
      z-index: 120;
}

.press img {
      width: 100%;
}

.buttom {
      color: gray;
      font-size: 30px;
}